*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    height: 400px;
    width: 450px;
    display:block;
    margin:0 auto;
    
    
}

header{
    text-align: center;
    color: orange;
    background-color: blue;
    /*position: fixed;*/ 
    display: block;
    top:0;
    width:100%;
    margin-bottom: auto;
}

ul{
    text-align: center;
}

li{
    list-style-type: none;
    font-size: 30px;
    display: inline;
    text-align: left;
    margin-left: 0px;
    left: 0;
}

p1{
    color:blue;
    font-size: 30px;
    text-align: center;
    display: block;
    margin-top: 30px;
}

footer{
    display: block;
    text-align: center;
}

.padding{
    padding: 30px;
    background-color: blue;
}

form{
    margin: 40px;
    display: block;
    text-align: center;    
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centertext{
    text-align: center;
}

#ul1{
    background-color: aqua;
    color: black;
}

#ul2{
    background-color: beige;
    color: black;
}

#ul3{
    background-color: paleturquoise;
    color: black;
}