*{
    background-color: lightgoldenrodyellow;
}
img{
    height: 400px;
    width: 450px;
    
    
}

header{
    text-align: center;
    color: orange;
}

p1{
    color:blue;
    font-size: 30px;
    text-align: center;
    display: block;
    margin-top: 30px;
}

footer{
    display: block;
    text-align: center;
}

.padding{
    padding: 30px;
    background-color: blue;
}

form{
    margin: 40px;
    display: block;
    text-align: center;    
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centertext{
    text-align: center;
}